<div class="wrapper">

	<!-- Application Header-->
	<app-super-admin-header></app-super-admin-header>

	<!-- Application Left Side Nav -->
	<app-super-admin-left-sidenav></app-super-admin-left-sidenav>

	<!-- Application Main Content Area -->
	<app-super-admin-main-content></app-super-admin-main-content>

	<!-- Application Right settings -->
	<app-super-admin-right-settings></app-super-admin-right-settings>

	<!-- Application Footer -->
	<app-super-admin-footer></app-super-admin-footer>
	
</div>